.App {
  text-align: center;
}

.circle {
  font-size: 30px;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px;
}
